@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;900&family=Volkhov:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    touch-action: pan-x pan-y;
    height: 100% 
  }
  
  body {
    font-family: "Volkhov", serif;
  }
  .mySwiper {
    overflow:hidden!important;
  }